@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Funnel+Display:wght@300..800&family=Geist+Mono:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-accent: #4f8b05;
  --color-background: #dcdcdc;
  --color-text-col: #373737;
  --font-geist-mono-bold: "Geist-Mono-Bold";
  --font-geist-mono-regular: "Geist-Mono-Regular";
}

@font-face{
  font-family: "Geist-Mono-Bold";
  src: url('src/assets/fonts/GeistMono-Bold.ttf');
}

@font-face{
  font-family: "Geist-Mono-Regular";
  src: url('src/assets/fonts/GeistMono-Regular.ttf');
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
}

::selection {
  background-color: rgb(187, 244, 81);
  color: #000000;
}

::-moz-selection {
  background-color: rgb(187, 244, 81);
  color: #000000;
}

body {
  margin: 0;
  overflow: hidden;
}

.smooth-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  will-change: transform;
}